@charset "UTF-8";
@import 'mixin';
@import 'normalize';

/*=============================================
Base  
=============================================*/

* {
    box-sizing: border-box;
}
body {
    font-size: 16px;
    letter-spacing: 0.1em;
    background-color: #cce5f1;
    color: #2f2e24;
    overflow-x: hidden;
}
@keyframes arrowAnim {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*=============================================
Common
=============================================*/
ol li {
    margin-bottom: 1em;
}
img {
    width: 100%;
    height: auto;
}
.main {
    overflow-x: hidden;
}
.text-red {
    color: #d8150f;
}

.slick-arrow {
    background-size: contain;
    width: 30px;
    height: 30px;
    z-index: 10;

    &.slick-prev {
        left: 15px;
        &::before {
            content: '';
        }
        background-image: url(img/dec-arrow-left.png);
        &:hover,
        &:focus {
            background-size: contain;
        }
    }
    &.slick-next {
        right: 15px;
        &::before {
            content: '';
        }
        background-image: url(img/dec-arrow-right.png);
        &:hover,
        &:focus {
            background-size: contain;
        }
    }
    @include mobile-width {
        &.slick-prev {
            left: -15px;
        }
        &.slick-next {
            right: -15px;
        }
    }
}

/*=============================================
header
=============================================*/

/*=============================================
Content
=============================================*/

/*=============================================
Sections
=============================================*/
section {
    padding: 50px 15px;
}
.section-wrap {
    max-width: 900px;
    margin: 0 auto;
}
/*----------  Section-KV  ----------*/
.section-kv {
    position: relative;
    margin-bottom: 100px;
    background-image: url(img/bg-kv.png);
    background-size: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    padding: 20px 10px 0 10px;

    @media screen and (max-width: 870px) {
        background-position: center 20%;
    }
}
.kv {
    position: relative;
    height: 550px;
    &-img {
        display: none;
    }
    &-item {
        position: absolute;
        img {
            width: 90%;
        }
    }
    &-title01 {
        left: -10%;
    }
    &-title {
        left: 0;
        top: 14%;
    }
    &-title02 {
        left: 0;
    }
    &-airplane {
        right: 18%;
        top: -5%;
        animation: jumpDown 3s ease-in infinite;
    }
    &-map {
        right: 18%;
        top: 40%;
        animation: rotate 3s ease-in alternate infinite;
    }

    &-pic02 {
        right: -13%;
    }
    &-pic01 {
        right: -20%;
        top: 47%;
    }
    @media screen and (max-width: 960px) {
        &-item {
            img {
                width: 65%;
            }
        }
        &-title01 {
            left: 7%;
        }
        &-title {
            left: 15%;
        }
        &-title02 {
            left: 15%;
        }
        &-pic02 {
            right: -6%;
        }
        &-pic01 {
            right: -15%;
        }
    }
    @media screen and (max-width: 870px) {
        height: auto;
        &-img {
            display: block;
        }
        &-item {
            display: none;
        }
    }
}
@keyframes jumpDown {
    0%,
    100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, -8px);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-2deg);
    }
}
.logoes {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 20px;
    a {
        display: block;
        height: 50px;
        img {
            height: 100%;
            width: auto;
        }
    }
    @include mobile-width {
        a {
            height: 30px;
        }
        padding: 0;
    }
}
.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    img {
        max-width: 300px;
        margin: 0 auto;
        padding: 0 10px;
    }
    @include mobile-width {
        flex-direction: column;
        padding: 0px;
    }
    &-link {
        transition: all 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
}
.dec-line {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/dec-pinline.png);
    position: absolute;
    bottom: -145px;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 150px;

    @include mobile-width {
        width: 100px;
        height: 150px;
        bottom: -160px;
    }
}
/*----------  Section-01  ----------*/
.section-01 {
    background-image: url(img/bg-section01.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.attractions {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    background-image: url(img/bg-attractions.jpg);
    box-shadow: 0 0 20px rgba(#000, 0.2);
    margin-bottom: 50px;
    &-title {
        position: relative;
        top: -60px;
        max-width: 750px;
        margin: 0 auto;
        margin-bottom: -40px;
        @include mobile-width {
            top: -30px;
        }
    }

    &-item {
        display: flex;
        flex-direction: row;
        max-width: 900px;
        margin: 0 auto;

        .photo {
            max-width: 55%;
            margin-right: 10px;
        }
        .info {
            max-width: 45%;
            h3 {
                color: #d8150f;
                font-size: 30px;
                font-weight: bold;
                margin: 0;
                &::before {
                    vertical-align: sub;
                    content: '';
                    display: inline-block;
                    width: 40px;
                    height: 35px;
                    background-image: url(img/dec-pin.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            p {
                font-size: 16px;
                line-height: 1.7;
                padding-left: 10px;
            }
        }
        @include mobile-width {
            flex-direction: column;
            padding: 15px;
            .photo,
            .info {
                max-width: 100%;
            }
            .photo {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
    }
    .dec-camera {
        position: absolute;
        left: -40px;
        bottom: -20px;
        background-image: url(img/dec-camera.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 155px;
        height: 120px;
        @include mobile-width {
            width: 60px;
            height: 40px;
            left: -10px;
            bottom: -25px;
        }
    }
}
.action-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
    .btn {
        margin: 0 10px;
        max-width: 200px;
        transition: all 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
    @include mobile-width {
        padding: 0 15px;
        flex-direction: column;
        .btn {
            margin-bottom: 10px;
        }
    }
}
/*----------  Section-02  ----------*/

.section-02 {
    background-image: url(img/bg-section02.jpg);
    background-size: contain;
}
.title-section02 {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.subtitle {
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}
.award {
    display: flex;
    flex-wrap: wrap;
    .award-link {
        width: 50%;
        img {
            padding-top: 15px;
            width: 100%;

            height: 96%;
        }
    }
    > img {
        width: 50%;
        &:nth-child(1) {
            padding: 5px;
        }
        &:nth-child(2) {
            padding: 5px;
        }
        &:nth-child(3) {
            padding: 15px;
        }
        &:nth-child(4) {
            padding: 10px;
        }
    }
    @include mobile-width {
        flex-direction: column;
        .award-link {
            width: 100%;
            img {
                padding: 14px;
            }
        }
        img {
            width: 100%;
            padding: 0;
        }
    }
}
.notice {
    margin-top: 50px;
    .title-list {
        max-width: 140px;
        display: block;
    }
    ol {
        font-size: 16px;
        padding-left: 1.7em;
        line-height: 1.5;
    }
}
.btn-survey {
    display: block;
    max-width: 245px;
    margin: 0 auto;
    margin-top: 30px;
    transition: all 0.3s;
    &:hover {
        transform: scale(1.1);
    }
}
