/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*=============================================
Base  
=============================================*/
* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  letter-spacing: 0.1em;
  background-color: #cce5f1;
  color: #2f2e24;
  overflow-x: hidden;
}

@keyframes arrowAnim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*=============================================
Common
=============================================*/
ol li {
  margin-bottom: 1em;
}

img {
  width: 100%;
  height: auto;
}

.main {
  overflow-x: hidden;
}

.text-red {
  color: #d8150f;
}

.slick-arrow {
  background-size: contain;
  width: 30px;
  height: 30px;
  z-index: 10;
}

.slick-arrow.slick-prev {
  left: 15px;
  background-image: url(img/dec-arrow-left.png);
}

.slick-arrow.slick-prev::before {
  content: '';
}

.slick-arrow.slick-prev:hover, .slick-arrow.slick-prev:focus {
  background-size: contain;
}

.slick-arrow.slick-next {
  right: 15px;
  background-image: url(img/dec-arrow-right.png);
}

.slick-arrow.slick-next::before {
  content: '';
}

.slick-arrow.slick-next:hover, .slick-arrow.slick-next:focus {
  background-size: contain;
}

@media all and (max-width: 759px) {
  .slick-arrow.slick-prev {
    left: -15px;
  }
  .slick-arrow.slick-next {
    right: -15px;
  }
}

/*=============================================
header
=============================================*/
/*=============================================
Content
=============================================*/
/*=============================================
Sections
=============================================*/
section {
  padding: 50px 15px;
}

.section-wrap {
  max-width: 900px;
  margin: 0 auto;
}

/*----------  Section-KV  ----------*/
.section-kv {
  position: relative;
  margin-bottom: 100px;
  background-image: url(img/bg-kv.png);
  background-size: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding: 20px 10px 0 10px;
}

@media screen and (max-width: 870px) {
  .section-kv {
    background-position: center 20%;
  }
}

.kv {
  position: relative;
  height: 550px;
}

.kv-img {
  display: none;
}

.kv-item {
  position: absolute;
}

.kv-item img {
  width: 90%;
}

.kv-title01 {
  left: -10%;
}

.kv-title {
  left: 0;
  top: 14%;
}

.kv-title02 {
  left: 0;
}

.kv-airplane {
  right: 18%;
  top: -5%;
  animation: jumpDown 3s ease-in infinite;
}

.kv-map {
  right: 18%;
  top: 40%;
  animation: rotate 3s ease-in alternate infinite;
}

.kv-pic02 {
  right: -13%;
}

.kv-pic01 {
  right: -20%;
  top: 47%;
}

@media screen and (max-width: 960px) {
  .kv-item img {
    width: 65%;
  }
  .kv-title01 {
    left: 7%;
  }
  .kv-title {
    left: 15%;
  }
  .kv-title02 {
    left: 15%;
  }
  .kv-pic02 {
    right: -6%;
  }
  .kv-pic01 {
    right: -15%;
  }
}

@media screen and (max-width: 870px) {
  .kv {
    height: auto;
  }
  .kv-img {
    display: block;
  }
  .kv-item {
    display: none;
  }
}

@keyframes jumpDown {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -8px);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

.logoes {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 20px;
}

.logoes a {
  display: block;
  height: 50px;
}

.logoes a img {
  height: 100%;
  width: auto;
}

@media all and (max-width: 759px) {
  .logoes {
    padding: 0;
  }
  .logoes a {
    height: 30px;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.nav img {
  max-width: 300px;
  margin: 0 auto;
  padding: 0 10px;
}

@media all and (max-width: 759px) {
  .nav {
    flex-direction: column;
    padding: 0px;
  }
}

.nav-link {
  transition: all 0.3s;
}

.nav-link:hover {
  transform: scale(1.1);
}

.dec-line {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(img/dec-pinline.png);
  position: absolute;
  bottom: -145px;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 150px;
}

@media all and (max-width: 759px) {
  .dec-line {
    width: 100px;
    height: 150px;
    bottom: -160px;
  }
}

/*----------  Section-01  ----------*/
.section-01 {
  background-image: url(img/bg-section01.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.attractions {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  background-image: url(img/bg-attractions.jpg);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

.attractions-title {
  position: relative;
  top: -60px;
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: -40px;
}

@media all and (max-width: 759px) {
  .attractions-title {
    top: -30px;
  }
}

.attractions-item {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  margin: 0 auto;
}

.attractions-item .photo {
  max-width: 55%;
  margin-right: 10px;
}

.attractions-item .info {
  max-width: 45%;
}

.attractions-item .info h3 {
  color: #d8150f;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.attractions-item .info h3::before {
  vertical-align: sub;
  content: '';
  display: inline-block;
  width: 40px;
  height: 35px;
  background-image: url(img/dec-pin.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.attractions-item .info p {
  font-size: 16px;
  line-height: 1.7;
  padding-left: 10px;
}

@media all and (max-width: 759px) {
  .attractions-item {
    flex-direction: column;
    padding: 15px;
  }
  .attractions-item .photo,
  .attractions-item .info {
    max-width: 100%;
  }
  .attractions-item .photo {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.attractions .dec-camera {
  position: absolute;
  left: -40px;
  bottom: -20px;
  background-image: url(img/dec-camera.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 155px;
  height: 120px;
}

@media all and (max-width: 759px) {
  .attractions .dec-camera {
    width: 60px;
    height: 40px;
    left: -10px;
    bottom: -25px;
  }
}

.action-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px;
}

.action-btns .btn {
  margin: 0 10px;
  max-width: 200px;
  transition: all 0.3s;
}

.action-btns .btn:hover {
  transform: scale(1.1);
}

@media all and (max-width: 759px) {
  .action-btns {
    padding: 0 15px;
    flex-direction: column;
  }
  .action-btns .btn {
    margin-bottom: 10px;
  }
}

/*----------  Section-02  ----------*/
.section-02 {
  background-image: url(img/bg-section02.jpg);
  background-size: contain;
}

.title-section02 {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.subtitle {
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

.award {
  display: flex;
  flex-wrap: wrap;
}

.award .award-link {
  width: 50%;
}

.award .award-link img {
  padding-top: 15px;
  width: 100%;
  height: 96%;
}

.award > img {
  width: 50%;
}

.award > img:nth-child(1) {
  padding: 5px;
}

.award > img:nth-child(2) {
  padding: 5px;
}

.award > img:nth-child(3) {
  padding: 15px;
}

.award > img:nth-child(4) {
  padding: 10px;
}

@media all and (max-width: 759px) {
  .award {
    flex-direction: column;
  }
  .award .award-link {
    width: 100%;
  }
  .award .award-link img {
    padding: 14px;
  }
  .award img {
    width: 100%;
    padding: 0;
  }
}

.notice {
  margin-top: 50px;
}

.notice .title-list {
  max-width: 140px;
  display: block;
}

.notice ol {
  font-size: 16px;
  padding-left: 1.7em;
  line-height: 1.5;
}

.btn-survey {
  display: block;
  max-width: 245px;
  margin: 0 auto;
  margin-top: 30px;
  transition: all 0.3s;
}

.btn-survey:hover {
  transform: scale(1.1);
}
